# backup files
*.s#?
*.b#?
*.l#?

# project file
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps

# archives
*.7z
*.asc
*.bz2
*.bzip
*.deb
*.dmg
*.egg
*.gem
*.gz
*.iso
*.jar
*.lzma
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
